<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Editar Usuário</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_user.css') }}">
</head>

<body>
    <h1>Editar Usuário</h1>
    <form id="editForm">
        <input type="hidden" id="id" name="id" value="{{ user[0] }}">
        <p>Nome: <input type="text" id="nome" value="{{ user[1] }}" required></p>
        <p>Email: <input type="email" id="email" value="{{ user[2] }}" required></p>
        <p>Telefone: <input type="text" id="telefone" value="{{ user[3] }}" required></p>
        <p>Cidade: <input type="text" id="cidade" value="{{ user[4] }}" required></p>
        <p>Data Nasc.: <input type="date" id="data_nascimento" value="{{ user[5] }}" required></p>
        <button type="submit">Salvar</button>
        <a href="/user_list">Cancelar</a>
    </form>


</body>
<script src="{{ url_for ('static', filename = 'js/edit_user.js') }}"></script>

</html>
