<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Editar Produto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_user.css') }}">
</head>

<body>
    <h1>Editar Produto</h1>

    <form id="editForm">
        <input type="hidden" id="id" name="id" value="{{ produto[0] }}">
        <p>Nome: <input type="text" id="nome" value="{{ produto[1] }}" required></p>
        <p>Marca: <input type="text" id="marca" value="{{ produto[2] }}" required></p>
        <p>Preço: <input type="text" id="preco" value="{{ produto[3] }}" required></p>
        <p>Estoque: <input type="text" id="estoque" value="{{ produto[4] }}" required></p>
        <button type="submit">Salvar</button>
        <button type="button" class="button-cancelar" onclick="window.location.href='/product_list'">Cancelar</button>
    </form>
</body>

<!-- Script externo de edição de produto -->
<script src="{{ url_for('static', filename='js/edit_product.js') }}"></script>

</html>