<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cadastro de Produto</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/page_cadastro.css') }}">
</head>

<body>

  <header>
    <h1>MVCFlaskApp</h1>
  </header>

  <section class="intro">
    <h2>Cadastro de Produto</h2>
    <p>Preencha os dados abaixo para cadastrar um novo produto no sistema.</p>
  </section>

  <section class="card">
    <form id="cadastroForm" class="formulario">
      <input type="text" id="nome" placeholder="Nome do produto" required>
      <input type="text" id="marca" placeholder="Marca" required>
      <input type="text" pattern="^\d{1,3}(?:[.,]\d{3})*(?:[.,]\d{2})?$" id="preco" placeholder="Preço" required>
      <input type="number" id="estoque" placeholder="Quantidade em estoque" required>
      <button type="submit" class="button">Cadastrar</button>
      <a href="/product_list" class="button-voltar">Voltar</a>

    </form>
  </section>

  <footer>
    Desenvolvido usando Flask + MVC.
  </footer>

  <script src="{{ url_for('static', filename='js/register_product.js') }}"></script>

</body>

</html>