<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Lista de Usuários</title>
    <link href="{{ url_for('static', filename='css/user_list.css') }}" rel="stylesheet">
</head>

<body>
    <h1>Usuários Cadastrados</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
        {% for user in users %} <!-- percorre toda a lista de usuarios-->
        <tr>
            <td>{{ user[1] }}</td> <!-- mostra o dado referente à coluna do bd-->
            <td>{{ user[2] }}</td>
            <td>
                <a href="/edit_user/{{ user[0] }}" class="button editar">Editar</a>
                <a href="/excluir/{{ user[0] }}" class="button editar">Excluir</a>
                <!-- envia o id para a pagina de edicao-->
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Voltar</a>
    <a href="/user_register">Cadastrar novo usuário</a>
</body>

</html>